<nav class="navbarContainer">
    <ul class="navbarItems">
      <li class="nav-item">
        <a class="nav-link" href="/explore">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myprofile/id4">My Profile</a>
      </li>
    </ul>
  </nav>