<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%- include('../includes/head'); %>

    <title>About</title>
</head>

<body>
    <header>
        <%- include('../includes/header'); %>
    </header>

    <main class='explore-main'>
        <h1>Explore</h1>
        <p>Find new people to follow!</p>


        <div id='profiles'></div>

        <script>

            const PROFILES = JSON.parse(`<%- JSON.stringify(profiles) %>`);
            console.log("🚀 ~ file: explore.ejs:28 ~ PROFILES:", PROFILES)

            const PROFILES_CONTAINER = document.getElementById('profiles');

            // Define a function to update the follow status
            const UPDATE_FOLLOW_STATUS = (PARAMETER__PROFILE_SUB_ID, PARAMETER__CURRENT_FOLLOW_STATUS) => {
            // Find the profile object with the matching ID
            const PROFILE = PROFILES.find((p) => p.subId === PARAMETER__PROFILE_SUB_ID);
            console.log(PROFILE)
            if (PROFILE) {
                // Update the follow status
                PROFILE.follow = !PARAMETER__CURRENT_FOLLOW_STATUS;
                // Update the button text
                const FOLLOW_BUTTON_IN_FORM = document.querySelector(`.${PARAMETER__PROFILE_SUB_ID} button`);
                FOLLOW_BUTTON_IN_FORM.textContent = PARAMETER__CURRENT_FOLLOW_STATUS ? 'Unfollow' : 'Follow';
            }
            };

            // Define a function to handle follow FORM submissions
            const HANDLE_FOLLOW_SUBMIT = (event) => {
            event.preventDefault();
            const FORM = event.target;
            const PROFILE_SUB_ID = FORM.classList[0];
            console.log("🚀 ~ file: explore.ejs:50 ~ HANDLE_FOLLOW_SUBMIT ~ PROFILE_SUB_ID:", PROFILE_SUB_ID)

            const CURRENT_FOLLOW_STATUS = FORM.elements.follow.value === 'Unfollow';
            console.log("🚀 ~ file: explore.ejs:52 ~ HANDLE_FOLLOW_SUBMIT ~ CURRENT_FOLLOW_STATUS:", CURRENT_FOLLOW_STATUS)
            UPDATE_FOLLOW_STATUS(PROFILE_SUB_ID, !CURRENT_FOLLOW_STATUS);
            FORM.elements.follow.value = CURRENT_FOLLOW_STATUS ? 'Follow' : 'Unfollow';
            console.log("🚀 ~ file: explore.ejs:52 ~ HANDLE_FOLLOW_SUBMIT ~ CURRENT_FOLLOW_STATUS:", CURRENT_FOLLOW_STATUS)
            
            };

            PROFILES.forEach((profile) => {
            const PROFILE_ELEMENT = document.createElement('div');
            PROFILE_ELEMENT.classList.add(profile.id);

            const PROFILE_NAME_ELEMENT = document.createElement('h2');
            PROFILE_NAME_ELEMENT.textContent = profile.name;
            PROFILE_ELEMENT.appendChild(PROFILE_NAME_ELEMENT);

            const PROFILE_AGE_ELEMENT = document.createElement('p');
            PROFILE_AGE_ELEMENT.textContent = `Age: ${profile.age}`;
            PROFILE_ELEMENT.appendChild(PROFILE_AGE_ELEMENT);

            const PROFILE_SONGS_ELEMENT = document.createElement('p');
            PROFILE_SONGS_ELEMENT.textContent = `Favourite songs: ${profile.songs}`;
            PROFILE_ELEMENT.appendChild(PROFILE_SONGS_ELEMENT);

            const PROFILE_ABOUT_ELEMENT = document.createElement('p');
            PROFILE_ABOUT_ELEMENT.textContent = profile.about;
            PROFILE_ELEMENT.appendChild(PROFILE_ABOUT_ELEMENT);

            const PROFILE_FOLLOW_FORM = document.createElement('FORM');
            PROFILE_FOLLOW_FORM.addEventListener('submit', HANDLE_FOLLOW_SUBMIT);
            PROFILE_ELEMENT.appendChild(PROFILE_FOLLOW_FORM);
            PROFILE_FOLLOW_FORM.classList.add(`${profile.subId}`);

            const PROFILE_FOLLOW_BUTTON = document.createElement('button');
            PROFILE_FOLLOW_BUTTON.type = 'submit';
            PROFILE_FOLLOW_BUTTON.name = 'follow';
            PROFILE_FOLLOW_BUTTON.value = profile.follow ? 'Unfollow' : 'Follow';
            PROFILE_FOLLOW_BUTTON.textContent = profile.follow ? 'Unfollow' : 'Follow';
            PROFILE_FOLLOW_FORM.appendChild(PROFILE_FOLLOW_BUTTON);

            const PROFILE_IMAGE_ELEMENT = document.createElement('img');
            PROFILE_IMAGE_ELEMENT.src = profile.image;
            PROFILE_IMAGE_ELEMENT.alt = `${profile.name}'s profile picture`;
            PROFILE_ELEMENT.appendChild(PROFILE_IMAGE_ELEMENT);

            PROFILES_CONTAINER.appendChild(PROFILE_ELEMENT);
            });

        </script>
    </main>

    <footer>
        <%- include('../includes/footer'); %>
    </footer>
    
</body>
</html>







